a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #808080;
}

//back-to-top button
/* 56px */
.toTop-arrow {
	width: 3.5rem;
	height: 3.5rem;
	padding: 0;
	margin: 0;
	border: 1;
	border-radius: 100%;
	opacity: 0.8;
	background: white;
	cursor: pointer;
	position: fixed;
	right: 1rem;
	bottom: 3rem;
	display: none;
}

.toTop-arrow::before,
.toTop-arrow::after {
	width: 25px;
	height: 3px;
	border-radius: 3px;
	background: black;
	position: absolute;
	content: "";
}

.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.4rem;
}

.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.4rem;
}

.toTop-arrow:focus {
	outline: none;
}

html {
	box-sizing: border-box;
	width: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'Noto Serif TC', serif;
	//font-family: 'Noto Sans TC', sans-serif;
}

ul {
	text-decoration: none;
	list-style: none;
}

.nav_box {
	width: 100%;
	height: fit-content;
	background-color: #ffffff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	.mainnav{
		align-self: flex-end;
		flex-grow: 2;
		font-size: 1.2rem;
		word-wrap: nowrap;
		white-space: nowrap;
		.mainnav_ul{
			display: flex;
			li{
				margin:auto 15px;
			}
			.mainnav_cate:hover{
				color: #808080;
				iconify-icon{
					animation:hoveropen 0.5s ;
					animation-fill-mode: forwards;
					@keyframes hoveropen {
						0%{transform:translateY(5px) rotate(0deg);}
						100%{transform:translateY(5px) rotate(180deg);}
					}
				}	
			}
			.mainnav_cate > ul{
				display: none;
				padding: 0;
				margin: 0px;
				>li{
					margin:5px 0;
				}
			}
			.mainnav_cate:hover > ul{
				display:block;
				position: absolute;
				background-color: #ffffff;
			}
		}
	}
}