$bannerBG: #E5E2E1;

a:link {
	text-decoration: none;
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #808080;
}

//back-to-top button
/* 56px */
.toTop-arrow {
	width: 3.5rem;
	height: 3.5rem;
	padding: 0;
	margin: 0;
	border: 1;
	border-radius: 100%;
	opacity: 0.8;
	background: white;
	cursor: pointer;
	position: fixed;
	right: 1rem;
	bottom: 3rem;
	display: none;
}

.toTop-arrow::before,
.toTop-arrow::after {
	width: 25px;
	height: 3px;
	border-radius: 3px;
	background: black;
	position: absolute;
	content: "";
}

.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.4rem;
}

.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.4rem;
}

.toTop-arrow:focus {
	outline: none;
}

html {
	box-sizing: border-box;
	width: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'Noto Serif TC', serif;
	//font-family: 'Noto Sans TC', sans-serif;
}

ul {
	list-style: none;
	display: flex;
	color: black;
}

.div_1024 {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@media screen and (max-width:768px) {
		width: 100%;
		line-height: 65px;
	}
}

.top_subnav {
	width: 257px;
	height: 65px;
	margin-top: 10px;
	margin-left: auto;
	display: block;
	ul {
		justify-content: right;
		margin-bottom: 5px;
		:nth-child(n+3){
			display: none;
		}
		li {
			display: inline;
			margin-right: 15px;

			iconify-icon {
				vertical-align: sub;
				margin-right: 3px;
			}
		}
	}

	input {
		padding: 0px 12px;
		height: 30px;
		@media screen and (max-width:768px) {
			display: none;
		}
	}

	button {
		padding: 0px 12px;
		height: 30px;
	}

	button:hover {
		opacity: 50%;
	}
}

.hamburger_nav{
	display: none;			
}

.top_LOGO {
	display: flex;
	justify-content: center;
	img{
		max-width: 256px;
	}
	@media screen and (max-width:768px) {
		display: none;
	}	
}

@media screen and (max-width:768px) {
	header{
		position: fixed;
		width: 100%;
		max-height:101px;
		min-height: 66px;
		margin-top: -1px;
		z-index: 999;
		background-color: #ffffff;	
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25) ;
		.div_1024{
			display: inline-flex;
			align-content: stretch;
			.top_subnav{
				width: fit-content;
				display: flex;
				order: 3;
				margin-right: 10px;
				ul{
					:nth-child(n+3){
						display: block;
					}
					:nth-last-child(n+3){
						display: none;
					}
					li{
						height: fit-content;
					}
				}
			}
			.input-group{
				width: fit-content;
				margin-top: 13px;
				button{
					padding: 0;
				}
			}
			.top_LOGO{
				display: flex;
				order: 1 ;
				flex-grow:2;
				margin-top: 5px;
				a{
					width: 30vw;
					height: 70px;
					background-image: url('../image/LOGO-trans_cut.png');
					background-size: 30vw;
					background-repeat: no-repeat;	
					background-position: center;
						img{
						display: none;
					}
				}
			}
			.hamburger_nav{
				display:flex;
				order: 0;
				flex-grow: 1;
				align-self: flex-end;
				margin-left: 10px;
				}
				
				input {
					display: none;
				}

				input:checked ~ .ul_menu {
					position: absolute;
					left: 0;
					top: 75px;
					width: 300px;
					height: 150vh;
					background-color:#efefef ;
				}
				
	
				//漢堡選單
				.ul_menu {
					display: block;
					white-space:nowrap;
					background: #fff;
					height: 0;
					width: 0;
					padding: 0;
					overflow: hidden;
					li {
					text-align: center;
					border-bottom: 1px solid #efefef;
					background-color: #FFFFFF;
					cursor: pointer;
					
					.icon_open{
						animation:icon-open 0.5s ;
						animation-fill-mode: forwards;
						@keyframes icon-open {
							0%{transform:translateY(5px) rotate(0deg);}
							100%{transform:translateY(5px) rotate(180deg);}
						}
					}

					.icon_close{
						animation:icon-close 0.5s ;
						animation-fill-mode: forwards;
						@keyframes icon-close {
							0%{transform:translateY(5px) rotate(180deg);}
							100%{transform:translateY(5px) rotate(0deg);}
						}
					}

					.mainnav_cate {
						display: block;
						display: none;
						padding: 0;
						border-top: 1px solid #efefef;
					}
					.displaynav{
						display: block;
					}
					//漢堡選單 結束
					}
				}	
		}
	}
}	


.banner_and_nav {
	height: 320px;
	@media screen and (max-width:768px) {
		padding-top: 75px;
	}
	.banner-box {
		width: 835px;
		height: 295px;
		position: absolute;
		right: 0;
		@media screen and (max-width:768px) {
			width: 100%;
			min-width: 390px;
		}
	
		.banner-box_word {
			position: absolute;
			left: 0;
			display: inline-flex;
			flex-direction: row-reverse;
			@media screen and (max-width:768px) {
				display: block;
				top: 45px;
				:first-child{
					margin-left: 30px;
				}
				:nth-child(2){
					margin-left: 60px;
				}
				:nth-child(3){
					margin-left: 100px;
				}
				:last-child{
					margin-left: 25px;
				}

			}
			p {
				writing-mode: vertical-rl;
				white-space: nowrap;
				line-height: 180%;
				margin: 0 0 0 10px;
				@media screen and (max-width:768px) {
					writing-mode: horizontal-tb;
					background-color: #FFFFFF;
					width: fit-content;
					margin-top: 10px;
					padding-left:15px;
					padding-right:15px;
				}
			}
		}

		.banner-box_pic {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			width: 759px;
			height: 264px;
			overflow: hidden;
			@media screen and (max-width:768px) {
				position: static;
				width: 100%;
			}
			img {
				margin-top: -15%;
				width: 100%;
				margin: 0;
				@media screen and (max-width:768px) {
					margin-top: 0%;
					height: 300px;
				}	
			}
		}
	}

	.mainnav {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 99;
		@media screen and (max-width:768px) {
		display: none;
		}
		ul {
			margin-bottom: 0;
			padding-left: 0;

			li {
				margin-right: 25px;
				cursor: pointer;
			}

			li:hover {
				color: #808080;
			}
		}

		.mainnav_cate {
			display: block;
			display: none;
			line-height: 30px;
			li{
				margin-right: 0;
			}
			padding-left: 5px;
			padding-right: 5px;
		}

		.mainnav_cate:hover {
			display: block;
		}

		li:hover .mainnav_cate {
			display: block;
			position: absolute;
			background-color: #ffffff;
		}
	}
}

.green {
	$dark_green: #495F41;
	$light_green: #9AC08D;
	color: $dark_green;

	:link {
		color: $dark_green;
	}

	a:visited {
		color: $dark_green;
	}

	a:hover {
		color: $light_green;
	}

	.product_bgline {
		background-color: $light_green;
	}

	.product_border {
		border: $dark_green 3px solid;
	}

	.product_card_container {
		color: $dark_green;

		.product_card {
			border: $dark_green 2px solid;
		}

		.product_card_bottom_button {
			background-color: $dark_green;
		}
	}
	.product_link{
		@media screen and (max-width:768px) {
			background-color: $dark_green;
		}
	}

}

.purple {
	$dark_purple: #522376;
	$light_purple: #785494;
	$lighter_purple: #a180ba;
	color: $dark_purple;

	:link {
		color: $dark_purple;
	}

	a:visited {
		color: $dark_purple;
	}

	a:hover {
		color: $lighter_purple;
	}

	.product_bgline {
		background-color: $light_purple;
	}

	.product_border {
		border: $dark_purple 3px solid;
	}

	.product_card_container {
		color: $dark_purple;

		.product_card {
			border: $dark_purple 2px solid;
		}

		.product_card_bottom_button {
			background-color: $dark_purple;
		}
	}
	.product_link{
		@media screen and (max-width:768px) {
			background-color: $dark_purple;
		}
	}


}

.gray {
	$dark_gray: #444444;
	$light_gray: #CACACA;
	color: $dark_gray;

	:link {
		color: $dark_gray;
	}

	a:visited {
		color: $dark_gray;
	}

	a:hover {
		color: $light_gray;
	}

	.product_bgline {
		background-color: $light_gray;
	}

	.product_border {
		border: $dark_gray 3px solid;
	}

	.product_card_container {
		color: $dark_gray;

		.product_card {
			border: $dark_gray 2px solid;
		}

		.product_card_bottom_button {
			background-color: $dark_gray;
		}
	}
	.product_link{
		@media screen and (max-width:768px) {
			background-color: $dark_gray;
		}
	}


}

.yellow {
	$dark_yellow: #C7A141;
	$light_yellow: #EEE59B;
	color: $dark_yellow;

	:link {
		color: $dark_yellow;
	}

	a:visited {
		color: $dark_yellow;
	}

	a:hover {
		color: $light_yellow;
	}

	.product_bgline {
		background-color: $light_yellow;
	}

	.product_border {
		border: $dark_yellow 3px solid;
	}

	.product_card_container {
		color: $dark_yellow;

		.product_card {
			border: $dark_yellow 2px solid;
		}

		.product_card_bottom_button {
			background-color: $dark_yellow;
		}
	}
	.product_link{
		@media screen and (max-width:768px) {
			background-color: $dark_yellow;
		}
	}

}

.right {
	.product_bannerpic {
		right: 141.5px;
		@media screen and (max-width:768px) {
			right:0;
		}
	}

	.product_infobox {
		left: 135.5px;
		@media screen and (max-width:768px) {
			left: 50px;
		}
	}

}

.product_box {
	width: 1024px;
	height: 545px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@media screen and (max-width:768px) {
		width: 100%;
		margin-bottom: 300px;
	}
	@media screen and (max-width:490px) {
		margin-bottom: 220px;
	}
	.product_bannerpic {
		width: 575px;
		height: 307px;
		overflow: hidden;
		position: absolute;
		margin-left: 135.5px;
		top: 0;
		@media screen and (max-width:768px) {
			margin: 0;
			margin-top: 50px;
			position: relative;
			width: 100%;
			min-width: 390px;
			height: 350px;
		}
		img {
			width: 100%;
			margin: 0;
			margin-top: -9%;
			@media screen and (max-width:768px) {
				width: 120%;
			}
			@media screen and (max-width:470px) {
				width: 160%;
			}

		}

	}

	.product_infobox_align{
		@media screen and (max-width:490px) {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}

	.product_infobox {
		width: 250px;
		height: 223px;
		padding: 15px;
		top: 71px;
		right: 141.5px;
		position: absolute;
		background-color: #ffffff;
		@media screen and (max-width:768px) {
			position: absolute;
			max-width: 250px;
			right: 50px;
			top:10%;
		}
		@media screen and (max-width:490px) {
			right: unset;
			left: unset;
		}
		h3 {
			text-align: center;
		}

		img {
			display: flex;
			margin: 10px auto;
			width: 160px;
		}

		p {
			text-align: center;
			line-height: 1.1rem;
		}
	}

	.product_border {
		position: absolute;
		left: 116.5px;
		bottom: 0;
		width: 791px;
		height: 493px;
		border-radius: 25px;
		z-index: -2;
		@media screen and (max-width:768px) {
			display: none;
		}
	}

	.product_bgline {
		width: 50.2vw;
		height: 120px;
		position: absolute;
		z-index: -1;
		@media screen and (max-width:768px) {
			display: none;
		}
	}

	.product_card_container {
		display: flex;
		justify-content: center;
		@media screen and (max-width:768px) {
			position:relative;
		}

		.product_card_row {
			display: flex;
			position: absolute;
			bottom: 58px;
			@media screen and (max-width:768px) {
				position:absolute;
				display: grid;
				grid-template-columns: 50% 50%;
				top: 5px;
				transform: scale(125%);
			}
			@media screen and (max-width:490px) {
				transform: scale(100%);
			}
	
			.product_card_col {
				margin: auto 9.5px;
				@media screen and (max-width:768px) {
					margin: 5px;
				}
	
				.product_card {
					width: 174px;
					height: 159px;
					border-radius: 10px;
					overflow: hidden;
					background-color: #ffffff;	
					img {
						width: 176px;
					}

					.product_card_label {
						width: 30px;
						height: 94px;
						background-color: #ffffff;
						clip-path: polygon(100% 0, 100% 100%, 50% 65%, 0 100%, 0 0);
						box-shadow: -5px 3px #474747;

						:last-child {
							visibility: hidden;
						}
					}

					.product_card_bottom {
						background-color: #ffffff;
						height: 42px;

						p {
							width: fit-content;
							margin: 0;
							margin-top: 3px;
							margin-left: 8px;
							font-size: 0.8rem;
							line-height: 1rem;
							display: flex;
							float: left;
						}

						.product_card_bottom_button {
							width: 59px;
							height: 31px;
							border-radius: 7px;
							color: #ffffff;
							display: flex;
							float: right;
							margin-top: 3px;
							margin-right: 2px;

							p {
								font-size: 1rem;
								line-height: 31px;
								margin-top: 0;
								margin-left: auto;
								margin-right: auto;
							}
						}
					}
				}
			}
		}
	}

	.product_link {
		position: absolute;
		text-decoration: underline;
		bottom: 11px;
		left: 410.5px;
		@media screen and (max-width:768px) {
			width: fit-content;
			height: fit-content;
			position: initial;
			margin-left: auto;
			margin-right: auto;
			margin-top: 435px;
			text-decoration: none;
			border-radius: 25px;
			a{
				color: #ffffff;
				line-height: 40px;
				padding:8.5px 30px;
				border-radius: 25px;	
			}
		}
		@media screen and (max-width:490px) {
			margin-top: 355px;
		}

	}
}

.paper_box{
	width: 1024px;
	margin-top: 62px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	@media screen and (max-width:768px) {
		width: 100%;
	}

	.hr{
		width: 530px;
		border: #000000 1px solid;
		border-style: solid none none none;
		margin:6px auto 19px auto;
		@media screen and (max-width:570px) {
			width: 70%;
		}	
	}
	
	.paper_card_container{
		@media screen and (max-width:768px) {
			width: 100%;
			display: flex;
			justify-content: center;
			position: relative;
		}	
	}

	.paper_card_row{
		display: flex;
		margin: auto 18.5px;
		justify-content: center;
		@media screen and (max-width:768px) {
			position: absolute;
			display: grid;
			grid-template-columns: 50% 50%;
		}
		@media screen and (max-width:490px) {
			transform: scale(80%);
			margin-top: -60px;
		}

		.paper_card_col{
				margin: auto 10.5px;
				@media screen and (max-width:768px) {
					width: fit-content;
					margin:10.5px;
				}		
			.paper_card{
				img{
					width:210px;
					height: 200px;
				}
				.paper_card_bottom{
					width:210px;
					height: 44px;
					display: flex;
					position: relative;
					p{
						margin-top: 8px;
						line-height: 17px;
					}
					.paper_card_bottom_button{
						position: absolute;
						display: flex;
						right: 0;
						p {
							font-size: 1.3rem;
							line-height: 44px;
							margin-top: 0;
							margin: auto;
						}
					}
				}
			}
		}
	}
	.paper_link{
		text-decoration: underline;
		margin-top: 20px;
		@media screen and (max-width:768px) {
			text-decoration: none;
			margin-top: 550px;
			a{
				background-color: #000000;
				line-height: 40px;
				padding:8.5px 30px;
				border-radius: 25px;	
				color: white;
			}
		}	
		@media screen and (max-width:490px) {
			margin-top: 440px;
		}
	
	}
}

.contact_box{
	width: 790px;
	height: 510px;
	background-color: #F4F4F4;
	margin:80px auto 60px auto;
	display: flex;
	@media screen and (max-width:768px) {
		margin:40px auto 30px auto;
		width: 100%;
	}

	.contact_box_inside{
		width: 474px;
		height: 423px;
		margin: auto auto;
		padding-top: 45px;
		background-color: #FFFFFF;
		box-shadow: inset 0px 0px 5px 5px #F4F4F4;
		@media screen and (max-width:490px) {
			transform: scale(90%);
		}
	
		img{
			display: flex;
			margin-left: auto;
			margin-right: auto;
		}
		h3,p{
			text-align: center;
		}
		p{
			margin-top: 10px;
			line-height: 40px;
		}
		
	}
}

footer{
	@media screen and (max-width:768px) {
		width: 100%;
		white-space: nowrap;
	}

	.nav_bottom{
		ul{
			justify-content: center;
			margin-bottom: 3px;
			@media screen and (max-width:768px) {
				display: none;
			}			
			li{
				margin: auto 50px;
			}
		}
	}
	.nav_hr{
		width: 1024px;
		border: #000000 1px solid;
		border-style: solid none none none;
		margin:3px auto 6px auto;
		@media screen and (max-width:768px) {
			width: 90%;
		}
	
	}
	.LOGO{
		display: flex;
		justify-content: center;
	}
	p{
		color: #d6d6d6;
		text-align: center;
	}
}
