a:link{
	text-decoration: none;
	color: black;
}

a:visited{
	color: black;
}

a:hover{
	color: grey;
}

//back-to-top button
/* 56px */
.toTop-arrow {
	width: 3.5rem;
	height: 3.5rem;
	padding: 0;
	margin: 0;
	border: 1;
	border-radius: 100%;
	opacity: 0.8;
	background: white;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 3rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 25px;
	height: 3px;
	border-radius: 3px;
	background: black;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.4rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.4rem;
}
.toTop-arrow:focus {outline: none;}

html{
    box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
	font-family: 'Noto Serif TC', serif;
}

body{
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

ul{
	list-style: none;
	display: flex;
	color: black;
}


//header
header{
	margin-top: 10px;
}

.nav_sub{
	width: 300px;
	margin-left: auto;
	ul{
		justify-content: right;
		margin-bottom: 5px;
		li{
			margin-right: 15px;
		}
	}
}

.form-control{
	margin-top: auto;
	margin-bottom: auto;
	height: 30px;
}

.LOGO{
	display: flex;
	justify-content: center;
	margin-bottom: 0.5%;
}

//banner
.i_banner{
	margin-bottom: 5px;
	div{
		width: 76.4%;
		max-height: 400px;
		overflow: hidden;
		margin-left: auto;
		img{
			position: relative;
			margin-top: 25px;
			width: 100%;
			height: 100%;
		}	

		div{
			height: auto;				
			position: absolute;
			z-index: 99;
			left: 24%;
			p{
				font-size: 1.3rem;
				line-height: 3rem;
				writing-mode:vertical-rl;
				text-orientation: upright;
			}	
		}
	}
}

.nav_main{
	ul{
		justify-content: right;
		li{
			margin:0px 10px;
			font-size: 1.3rem;
		}
	}
}

.nav_main_cate ul{
	padding-top: 3px;
	position: absolute;
	list-style: none;
	display: none;
	padding-left:0 ;
	z-index: 999;
	background-color:white;
	li{
		margin-left: 0;
		font-size: 1.1rem;
	}
}

.nav_main_cate:hover ul{
	display:block;
}

//content_product
.i_product_left{
	position: relative;
	width: 100%;
	height: 750px;
	background-color: transparent;
	//background-color: #9ac08d50;
	margin: 20px 0px;
	overflow: hidden;

	.i_banner{
		position: absolute;
		width: 55%;
		height: 400px;
		top: 10px;
		left: 10%;
		overflow: hidden;
		img{
			position: relative;
			width: 100%;
			margin-top: -15%;
		}
	}

	.i_product_row{
		position: absolute;
		bottom: 26px;
		left: 13.5%;
	}

	//.i_product_bg{
	//	position: absolute;
	//	right: 0;
	//	top: 0;
	//	margin-top: -100px;
	//	z-index: -99;
	//}

	.i_product_info{
		position: absolute;
		background-color:white ;
		top: 13%;
		left: 60%;
		width:300px;
		height: 280px;
		h3{
			padding-top:60px;
			font-size: 2rem;
		}
		img{
			display:block;
			margin:auto;
			width: 150px;
		}
		p{
			padding-top:10px;
			line-height: 17px;
			font-size: 1.1rem;
		}
	}

	.i_product_demo{
		width: 15rem;
		border-radius: 20px;
		border: 0;
		.i_card_top{
			border-radius:20px;
			height: 240px;
			width: 240px;
		}
		.i_card_body{
			background-color:transparent;
			border-radius: 0 0 20px 20px;
			line-height: 15px;
			padding-bottom: 0px;
		}
	}

	.i_product_more{
		position:absolute;
		bottom: 0;
		right: 8px;
		text-decoration: underline;
		font-size: 1.2rem;
	}

	.i_product_bottom{
		position: absolute;
		z-index: -99;
		bottom: 0;
		width: 100%;
		height: 400px;
		background-color: transparent;
	}
}

.i_product_right{
	position: relative;
	width: 100%;
	height: 750px;
	background-color: transparent;
	margin: 20px 0px;
	overflow: hidden;

	.i_banner{
		position: absolute;
		width: 55%;
		height: 400px;
		top: 10px;
		right: 10%;
		overflow: hidden;
		img{
			position: relative;
			width: 100%;
			margin-top: -15%;
		}
	}

	.i_product_row{
		position: absolute;
		bottom: 26px;
		left: 13.5%;
	}

	//.i_product_bg{
	//	position: absolute;
	//	right: 0;
	//	top: 0;
	//	margin-top: -100px;
	//	z-index: -99;
	//}

	.i_product_info{
		position: absolute;
		background-color:white ;
		top: 13%;
		right: 60%;
		width:300px;
		height: 280px;
		h3{
			padding-top:60px;
			font-size: 2rem;
		}
		img{
			display:block;
			margin:auto;
			width: 150px;
		}
		p{
			padding-top:10px;
			line-height: 17px;
			font-size: 1.1rem;
		}
	}

	.i_product_demo{
		width: 15rem;
		border-radius: 20px;
		border: 0;
		.i_card_top{
			border-radius:20px;
			height: 240px;
			width: 240px;
		}
		.i_card_body{
			background-color:transparent;
			border-radius: 0 0 20px 20px;
			line-height: 15px;
			padding-bottom: 0px;
		}
	}

	.i_product_more{
		position:absolute;
		bottom: 0;
		right: 8px;
		text-decoration: underline;
		font-size: 1.2rem;
	}

	.i_product_bottom{
		position: absolute;
		z-index: -99;
		bottom: 0;
		width: 100%;
		height: 400px;
		background-color: transparent;
	}
}

//paper
.i_paper{
	position: relative;
	width: 100%;
	h3{
		padding-top:60px;
		font-size: 2rem;
		text-align: center;
		margin-bottom: 4px;
	}

	hr{
		background-color:black;
		height:1px;
		width: 40%;
		border:none;
		margin: 5px auto;
	}

	.i_paper_row{
		justify-content: center;
		margin-top: 20px;
	}

	.col-3{
		width: fit-content;
	}
	
	.i_paper_demo{
		width: 15rem;
		border: 0;
		//margin: 0px 20px;
		.i_card_top{
			border-radius:0px;
			height: 240px;
			//width: 240px;
		}
		.i_card_body{
			background-color:transparent;
			border-radius: 0px;
			line-height: 18px;
			padding: 0;
			padding-top: 16px;
		}
	}

	.i_paper_more{
		width: fit-content;
		margin: 20px auto;
		a{
			text-decoration: underline;
			font-size: 1.2rem;
		}	
	}
	
}

//contact
.i_contact{
	width: 100%;
	height: 500px;
	background-color: #F4F4F4;
	margin: 50px auto;
	padding-top: 37.5px;
	.i_contact_box{
		width: 40%;
		height: 425px;
		background-color: white;
		margin: 0 auto;
		padding: 25px;
		h3{
			font-size: 2rem;
			text-align: center;
		}

		img{
			display: block;
			width: 300px;
			margin: auto;
		}
		p{
			text-align: center;
			font-size: 1.2rem;
			line-height: 50px;
		}
	}
}


//footer
.nav_bottom{
	ul{
		justify-content: center;
		margin-bottom: 8px;
		li{
			margin:0px 80px;
			font-size: 1.3rem;
		}
	}
}



hr{
	background-color:black;
	height:1px;
	border:none;
	margin: 4px 0px;
}
