$dark_green:#495F41;
$light_green:#9AC08D;
$dark_purple:#522376;
$light_purple:#785494;
$dark_gray:#444444;
$light_gray:#CACACA;
$dark_yellow:#C7A141;
$light_yellow:#EEE59B;


a:link{
    text-decoration: none;
    color: #000000;
}

a:visited{
    color: #000000;
}

a:hover{
	color: #808080;
}

//back-to-top button
/* 56px */
.toTop-arrow {
	width: 3.5rem;
	height: 3.5rem;
	padding: 0;
	margin: 0;
	border: 1;
	border-radius: 100%;
	opacity: 0.8;
	background: white;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 3rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 25px;
	height: 3px;
	border-radius: 3px;
	background: black;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.4rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.4rem;
}
.toTop-arrow:focus {outline: none;}

html{
    box-sizing: border-box;
	width: 100%;
}

*,*:before,*:after {
	box-sizing: inherit;
	font-family: 'Noto Serif TC', serif;
    //font-family: 'Noto Sans TC', sans-serif;
}

ul{
	list-style: none;
	display: flex;
	color: black;
}

.div_1024{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.top_subnav{
    width: 257px;
    height: 65px;
	margin-top: 10px;
	margin-left: auto;	
	ul{
		justify-content: right;
        margin-bottom: 5px;
        li{
            display: inline;
			margin-right: 15px;
			iconify-icon{
				vertical-align:sub;
				margin-right: 3px;
			}
        }
    }
    input{
        padding:0px 12px;
        height: 30px;
    }
    button{
        padding:0px 12px;
        height: 30px;
    }
	button:hover{
		opacity: 50%;
	}
}

.top_LOGO{
	display: flex;
	justify-content: center;
}

.banner_and_nav{
	height: 320px;
	.banner-box{
		width: 835px;
		height: 295px;
		position: absolute;
		right: 0;
		.banner-box_word{
			position: absolute;
			left: 0;
			p{
				writing-mode: vertical-rl;
				white-space:nowrap;
				line-height: 180%;
			}
		}
		.banner-box_pic{
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: -1;
			width: 759px;
			height: 264px;
			overflow: hidden;
			img{
				margin-top: -15%;
				width: 100%;
				margin: 0;
			}
		}
	}
	.mainnav{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 99;
		ul{
			margin-bottom: 0;
			padding-left: 0;
			li{
				margin-right: 25px;
				cursor:pointer;
			}
			li:hover{
				color: #808080;
			}
		}
		.mainnav_cate{
			display: block;
			display: none;
		}
		.mainnav_cate:hover{
			display: block;
		}
		li:hover .mainnav_cate{
			display: block;
			position: absolute;
			background-color: #ffffff;
		}	
	}	
}

.product_box{
	width: 1024px;
	height: 545px;
	margin-top:20px ;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	.product_bannerpic{
		width: 575px;
		height: 307px;
		overflow: hidden;
		position: absolute;
		margin-left: 135.5px;
		top: 0;
		img{
			width: 100%;
			margin: 0;
			margin-top: -9%;
		}	
	}
	.product_infobox{
		width: 250px;
		height: 223px;
		padding: 15px;
		top: 71px;
		right: 141.5px;
		position: absolute;
		background-color: #ffffff;
		color: $dark_green;
		h3{
			text-align: center;
		}
		img{
			display: flex;
			margin: 10px auto;
			width: 160px;
		}
		p{
			text-align: center;
			line-height: 1.1rem;
		}
	}
	.product_border{
		position: absolute;
		left: 116.5px;
		bottom: 0;
		width: 791px;
		height: 493px;
		border:#495F41 3px solid;
		border-radius: 25px;
		z-index: -2;
	}
	.product_bgline{
		width: 150%;
		height: 120px;
		background-color:$light_green;
		position: absolute;
		z-index: -1;
	}
	.product_card_container{
		position: relative;
		display: flex;
		justify-content: center;
		.product_card_row{
			.product_card_col{
				.product_card{
					width: 174px;
					height: 159px;
					border:#495F41 2px solid;
					border-radius: 10px;
					background-color:#ffffff;
					img{
						width:174px;
						border-radius: 10px 10px 0 0;
					}
					.product_card_label{
						width: 30px ;
						height: 94px ;
						background-color:#ffffff ;
						clip-path: polygon(100% 0, 100% 100%, 50% 65%, 0 100%, 0 0) ;
						box-shadow: -5px 3px #474747 ;
						:last-child{
							visibility: hidden;
						}
					}
					.product_card_bottom{
						background-color:#ffffff;
						.product_card_bottom_button{
							width: 59px;
							height: 31px;
							background-color:#495F41 ;
							color: #ffffff;
						}
					}
				}
			}		
		}
	}
}