<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>就。很。Pro｜水彩、水墨筆刷</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/a_brushcate.css" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap"
      rel="stylesheet"
    />
    <!--icon-->
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="js/iconify-icon.min.js"></script>
  </head>

  <body>
    <div id="app">
      <!--頂端nav-->
      <header class="nav_box">
        <div class="nav_logo">
          <a href="index.html"
            ><img src="image/LOGO_trans.png" width="200px"
          /></a>
        </div>
        <nav class="mainnav">
          <label for="switch"
            ><iconify-icon
              icon="charm:menu-hamburger"
              width="30"
              height="30"
            ></iconify-icon
          ></label>
          <input type="checkbox" id="switch" />
          <ul class="mainnav_ul">
            <li
              class="mainnav_ul_1stli"
              style="cursor: pointer"
              @click="navToggle"
            >
              筆刷分類<iconify-icon
                class=""
                icon="material-symbols:keyboard-arrow-up"
                width="23"
                style="transform: translateY(5px)"
              ></iconify-icon>
              <ul class="mainnav_cate">
                <li><a href="a1_water.html">水彩、水墨</a></li>
                <li><a href="a2_crayon.html">粉筆、蠟筆</a></li>
                <li><a href="a3_pencil.html">鉛筆、麥克筆</a></li>
                <li><a href="a4_special.html">特殊、其他筆刷</a></li>
              </ul>
            </li>
            <li><a href="b_freebrush.html">免費筆刷</a></li>
            <li><a href="c_paybrush.html">付費筆刷</a></li>
            <li><a href="d_paper.html">特殊紙質</a></li>
            <li><a href="e_tutorial.html">筆刷/紙質應用教學</a></li>
          </ul>
        </nav>
        <div class="searchbar_and_subnav">
          <div class="subnav">
            <ul>
              <li>
                <a href="f_login.html"
                  ><iconify-icon
                    inline
                    icon="carbon:user-avatar-filled"
                    width="20px"
                  ></iconify-icon>
                  <p>會員登入</p></a
                >
              </li>
              <li class="subnav_likeicon">
                <a href="javascript:;" @click.prevent="likeListShow"
                  ><iconify-icon
                    inline
                    icon="ph:heart-fill"
                    width="20px"
                  ></iconify-icon>
                  <p>我的收藏</p></a
                >
                <div class="subnav_likelist">
                  <h6>收藏項目</h6>
                  <h5 v-if="ProductInCartInfo.length <= 0">
                    您目前還沒有收藏的商品
                  </h5>
                  <ul>
                    <li
                      class="likelist_single"
                      v-for="(item,index) in ProductInCartInfo"
                    >
                      <img :src="item.ProductPicture + '.png'" width="80px" />
                      <div class="likelist_description">
                        <p>
                          {{item.ProductNameTranslate}}<br />{{item.ProductAuthor}}
                        </p>
                        <div class="likelist_price">
                          <p>{{item.ProductPrice + '元'}}</p>
                        </div>
                      </div>
                      <button id="delete-button" @click="removeCartInfo(index)">
                        ×
                      </button>
                      <div class="likelist_line"></div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="searchbar">
            <span class="input-group rounded form-inline">
              <input
                type="search"
                class="form-control rounded-pill"
                style="background-color: #c4c4c4"
                placeholder="搜尋…"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <button
                type="button"
                class="btn btn-default"
                aria-label="Left Align"
              >
                <iconify-icon icon="bx:search" width="30px"></iconify-icon>
              </button>
            </span>
          </div>
        </div>
      </header>
      <!--nav_box end-->

      <div class="center_content">
        <aside>
          <ul>
            <li>
              筆刷分類
              <ul>
                <li><a href="a1_water.html">水彩、水墨筆刷</a></li>
                <li><a href="a2_crayon.html">粉筆、蠟筆筆刷</a></li>
                <li><a href="a3_pencil.html">鉛筆、麥克筆刷</a></li>
                <li><a href="a4_special.html">特殊、其他筆刷</a></li>
              </ul>
            </li>
            <li><a href="b_freebrush.html">免費筆刷</a></li>
            <li>
              <a href="c_paybrush.html">付費筆刷</a>
              <ul>
                <li><a href="c1_how.html">付款說明</a></li>
              </ul>
            </li>
            <li><a href="d_paper.html">特殊紙質</a></li>
            <li><a href="e_tutorial.html">應用教學</a></li>
          </ul>
        </aside>
        <content>
          <div
            class="banner"
            style="background-image: url('image/i_banner_01.png')"
          >
            <div class="banner_wordbox">
              <h3>水彩、水墨筆刷 <img src="image/i_product01_00.png" /></h3>
            </div>
          </div>

          <div class="product_rows">
            <!--card start-->
            <div
              class="product_card_col"
              v-for="(item,i) in waterColor"
              :key="item.id"
            >
              <div
                class="product_card"
                style="height: fit-content"
                @click="showProductPage(i)"
              >
                <!-- <img src="./image/a_water_01.png" /> -->
                <img :src="item.ProductPicture + '.png'" />
                <div class="product_card_bottom">
                  <p>
                    {{ item.ProductNameTranslate }}<br />By {{
                    item.ProductAuthor }}
                  </p>
                  <div class="card_bottom_price_and_icon">
                    <div class="card_bottom_price">
                      <p>{{ item.ProductPrice + '元' }}</p>
                    </div>
                    <div class="card_bottom_icon">
                      <iconify-icon
                        inline
                        icon="ph:heart-bold"
                        width="25"
                        class="hearticon"
                        @click.stop="heartIconToggle(i)"
                        v-if="ProductInCartId.indexOf(i+1)==-1"
                      ></iconify-icon>
                      <iconify-icon
                        inline
                        icon="ph:heart-fill"
                        width="25"
                        class="hearticon"
                        style="color: red"
                        @click.stop="heartIconToggle(i)"
                        v-if="ProductInCartId.indexOf(i+1)!=-1"
                      ></iconify-icon>
                      <iconify-icon
                        inline
                        icon="material-symbols:shopping-cart-outline-rounded"
                        width="25"
                        @click.stop="cartIconToggle(i)"
                        class="carticon"
                      ></iconify-icon>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product_singlepage">
                <div class="product_singlepage_box">
                  <button @click="hideProductPage(i)">×</button>
                  <h5>{{item.ProductNameTranslate}}</h5>
                  <p>by {{ item.ProductAuthor}}</p>
                  <div class="product_singlepage_content">
                    <img :src="item.ProductPicture + '.png'" />
                    <div class="product_singlepage_info">
                      <p>
                        筆刷描述：<br />這裡是筆刷說明，日後將會更新內容，敬請期待！
                      </p>
                      <div class="singlepage_info_price">
                        <p>價格</p>
                        <p>{{item.ProductPrice}}元</p>
                      </div>
                      <button @click="heartIconToggle(i)">購買筆刷</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--card end-->
          </div>
        </content>
      </div>
      <!--center end-->
      <footer>
        <div class="footer_hr"></div>
        <div class="footer_logo">
          <a href="index.html">
            <img src="image/LOGO_trans.png" width="300px" />
          </a>
        </div>
        <p>Johenpro_brush@gmail.com</p>
      </footer>
      <div class="addlikehide" :class="{ 'displayshow':isActive }">
        <div class="addlike_box">
          <iconify-icon
            icon="clarity:success-standard-line"
            width="80px"
            style="color: rgb(115, 192, 0)"
          ></iconify-icon>
          <p>成功加入收藏</p>
        </div>
      </div>
    </div>
    <!--返回頂部的button-->
    <button
      type="button"
      id="backtop"
      class="toTop-arrow"
      @click="backTop"
    ></button>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.js"
    integrity="sha512-JwcZ6ApNnuNMW/djB3vPh2HpDRq4HkNE4pckP9uNhTyEW6V5NhspLu3T6ciFSz//J4sMMwtzxW5Tg+D/Ptx00w=="
    crossorigin="anonymous"
  ></script>

  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        productsData: [],
        ProductInCartInfo: [],
        ProductInCartId: [],
        isActive: false,
      },
      methods: {
        backTop() {
          window.scrollTo({
            top: 0,
            behavior: "smooth",
          });
        },
        buttonShow() {
          if (window.scrollY > 300) {
            this.backTopButton.style.display = "block";
          } else {
            this.backTopButton.style.display = "none";
          }
        },
        navToggle() {
          let displayNav = document.querySelector(".mainnav_ul_1stli > ul");
          let menuIcon = document.querySelector(
            ".mainnav_ul_1stli > iconify-icon"
          );
          if (window.innerWidth <= 768) {
            displayNav.classList.toggle("displaynav");
            if (menuIcon.classList.contains("icon_open") == true) {
              menuIcon.classList.add("icon_close");
              menuIcon.classList.remove("icon_open");
            } else {
              menuIcon.classList.add("icon_open");
              menuIcon.classList.remove("icon_close");
            }
          }
        },
        likeListShow() {
          let subnavLikelist = document.querySelector(".subnav_likelist");
          if (window.innerWidth <= 768) {
            subnavLikelist.classList.toggle("displaylikelist");
          } else if (
            window.innerWidth > 768 &&
            subnavLikelist.classList.contains("displaylikelist")
          ) {
            subnavLikelist.classList.toggle("displaylikelist");
          }
        },
        heartIconToggle(i) {
          if (
            this.ProductInCartId.findIndex(
              (item) => item == this.waterColor[i].id
            ) == -1
          ) {
            this.isActive = true;
            setTimeout(() => (this.isActive = false), 1000);
            this.ProductInCartInfo.push(this.waterColor[i]);
            this.ProductInCartId.push(this.waterColor[i].id);
            this.saveCartInfo();
          } else if (
            this.ProductInCartId.findIndex(
              (item) => item == this.waterColor[i].id
            ) !== -1
          ) {
            this.removeCartInfo(this.ProductInCartId.indexOf(i + 1));
          }
        },
        cartIconToggle(i) {
          if (
            this.cartIcon[i].icon ==
            "material-symbols:shopping-cart-outline-rounded"
          ) {
            this.cartIcon[i].icon = "material-symbols:shopping-cart-rounded";
          } else if (
            this.cartIcon[i].icon == "material-symbols:shopping-cart-rounded"
          ) {
            this.cartIcon[i].icon =
              "material-symbols:shopping-cart-outline-rounded";
          }
        },
        removeCartInfo(i) {
          this.ProductInCartId.splice(i, 1);
          this.ProductInCartInfo.splice(i, 1);
          this.saveCartInfo();
        },
        saveCartInfo() {
          let infoParsed = JSON.stringify(this.ProductInCartInfo);
          let idParsed = JSON.stringify(this.ProductInCartId);
          localStorage.setItem("info", infoParsed);
          localStorage.setItem("id", idParsed);
        },
        showProductPage(i) {
          let card = document.querySelectorAll(".product_card");
          let singlePage = document.querySelectorAll(".product_singlepage");
          singlePage[i].style.display = "flex";
          card.forEach((item) => (item.style.pointerEvents = "none"));
        },
        hideProductPage(i) {
          let card = document.querySelectorAll(".product_card");
          let singlePage = document.querySelectorAll(".product_singlepage");
          singlePage[i].style.display = "none";
          card.forEach((item) => (item.style.pointerEvents = "unset"));
        },
      },
      computed: {
        backTopButton() {
          return document.querySelector("#backtop");
        },
        waterColor() {
          return this.productsData.filter(
            (p) => p.ProductType === "watercolor"
          );
        },
        heartIcon() {
          return document.querySelectorAll(".hearticon");
        },
        cartIcon() {
          return document.querySelectorAll(".carticon");
        },
      },
      mounted() {
        axios
          .get("./product.json")
          .then((res) => {
            this.productsData = res.data.products;
            //console.log(this.productsData);
          })
          .catch((err) => console.log("錯誤：", err));
        //local storage
        if (localStorage.getItem("info")) {
          try {
            this.ProductInCartInfo = JSON.parse(localStorage.getItem("info"));
          } catch (e) {
            localStorage.removeItem("info");
          }
        }
        if (localStorage.getItem("id")) {
          try {
            this.ProductInCartId = JSON.parse(localStorage.getItem("id"));
          } catch (e) {
            localStorage.removeItem("id");
          }
        }
        this.$nextTick(() => {
          //this.heartIconToggle();
        });
      },
      created: function () {
        window.addEventListener("scroll", this.buttonShow);
        this.backTopButton.addEventListener("click", this.backTop);
      },
      destroyed: function () {
        //window.removeEventListener("scroll", this.buttonShow);
        //this.backTopButton.addEventListener("click", this.backTop);
      },
    });
  </script>
</html>
